@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-fundo: #ffffff; /* Pode ser removido se o gradiente for usado */
    --cor-principal: #ffffff;
    --cor-secundaria: #0055A4;
    --cor-destaque: #0055A4;
    --cor-texto: #000000;

}

body {
    background: linear-gradient(to right, #0055A4 30%, #ffffff 3%, #ffffff 70%, #EF4135 30%);
    color: var(--cor-texto);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

@keyframes rainbow-shadow {
    0% {
        box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.8); /* Azul */
    }
    33% {
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8); /* Branco */
    }
    66% {
        box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.8); /* Vermelho */
    }
    100% {
        box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.8); /* Azul */
    }
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 25px;
    border-radius: 3%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);
    animation: rainbow-shadow 5s linear infinite; /* Aplicando a animação */
}


h1, .caixa-perguntas, .caixa-resultado {
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    margin-top: 3%;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada ao passar o mouse */
    transform: translateY(-4px); /* Levanta o botão um pouco */
}

.caixa-resultado {
    display: none;
}

.caixa-resultado.mostrar {
    display: block;
}

.caixa-alternativas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
